@use "../utilities/utilities" as *;

form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem 0.5rem;

    label {
        text-align: right;
    }

    input,
    select,
    textarea {
        @extend .text-base, .p-2;
        border: 1px solid var(--borderColor);
        border-radius: 0.25rem;
        background-color: var(--bodyBG);
        color: var(--bodyFG);
        width: 100%;
    }

    .col-2,
    .col-full {
        grid-column: 1 / -1;
    }

    .error {
        color: var(--danger, red);
        @extend .text-lg, .mt-1, .col-full;
    }

    .buttons {
        @extend .row, .align-center, .justify-evenly, .gap-2, .col-full;
    }
}
