@use "../bootstrap";

// * COLOR SCHEMES * //
:root {
    color-scheme: light dark;
}

:root[theme='light'] {
    color-scheme: light;
}

:root[theme='dark'] {
    color-scheme: dark;
}

// * BASE RESETTING * //
:where(html, body, *, *::before, *::after) {
    @include bootstrap.el-reset;
}

// * STRUCTURE LAYOUT * //

:is(html, body) {
    height: 100dvh;
    width: 100dvw;
}

html {

    :where(body) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        overflow: hidden;

        background: var(--bodyBG);
        color: var(--bodyFG);

        :where(nav, footer, header) {
            background: var(--navBG);
            color: var(--navFG);
        }

        :where(main, footer) {
            column-span: 12;
        }
    }
}