:root[data-theme="dark"] {
    --bodyBG: #121212;
    --bodyFG: #e9ecef;
    --mutedFG: #adb5bd;

    --navBG: #1e1e1e;
    --navFG: #f8f9fa;
    --navBGHover: #2a2a2a;
    --navFGHover: #ffffff;

    --accent: #0d6efd;
    --accentFG: #ffffff;
    --accentHover: #0a58ca;

    --success: #198754;
    --successFG: #ffffff;
    --successHover: #146c43;

    --danger: #dc3545;
    --dangerFG: #ffffff;
    --dangerHover: #bb2d3b;

    --warning: #ffc107;
    --warningFG: #000000;

    --info: #0dcaf0;
    --infoFG: #000000;

    --anchor: #66b2ff;
    --anchorHover: #3399ff;

    --clickableBorder: #343a40;
    --clickableBorderHover: #495057;

    --mutedHover: #6c757d;
}
